@charset "UTF-8";
/* Grille */
.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 760px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 960px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

/* Balises génériques */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: deeppink 8px solid; }

.wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  border: blue 1px solid; }

/*.row {
  border: magenta 1px dashed;
}
*/
/* Header*/
.l-main-header {
  color: #db9a64;
  background: url("../img/banner/bradcam.png");
  width: 100%;
  height: 100%; }

/*color: #9b2;
border-bottom: 1px #9b2 solid;
padding: 10px 0 3px 32px;
margin: 20px 0;
background: url('../images/bullet.gif') no-repeat left center;*/
/* Logo */
.l-main-header-logo {
  display: flex;
  justify-content: center; }

/* Navigation */
#menuPrincipal ul {
  padding: 0;
  margin: 50px;
  list-style-type: none;
  text-align: center; }

#menuPrincipal li,
#menuPrincipal a {
  display: inline-block; }

#menuPrincipal a, a:link {
  color: #db9a64;
  padding: 10px;
  text-decoration: none; }

/*#menuPrincipal a:link {
  color: black;
}

#menuPrincipal a:visited{
    color: greenyellow;
    background-color: blue;
  }*/
#menuPrincipal a:hover {
  color: green;
  background-color: firebrick; }

#menuPrincipal a:active {
  color: red;
  background-color: yellow; }

#menuPrincipal .is-active a {
  color: gold;
  border-top: 0.1rem solid greenyellow; }

/* Talk */
.l-main-header-talk h1 {
  color: #db9a64;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  border: 2px #db9a64 solid;
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem; }

.l-main-content {
  padding: 2rem 0 5rem 0; }

.l-main-bg1 {
  background-color: #311e25; }

.l-main-bg2 {
  background-color: #3b2930; }

.l-main-header-banner h1 {
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 4rem;
  margin: 5rem 0rem; }

/* Footer */
.l-main-footer {
  color: white;
  background: url("../img/banner/footer_bg.png");
  width: 100%;
  height: 100%; }

/* Article */
.h1orange::after {
  color: #db9a64;
  content: "Let's Talk"; }

/* Social Network*/
.l-main-footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #db9a64 solid;
  margin: 1.5rem 1rem;
  padding: 1.5rem 2rem; }

.l-main-footer-social h1 {
  color: white; }

.l-main-footer-social i {
  font-size: 1.5rem;
  color: #db9a64; }

/* Copyright */
.l-main-footer-copyright {
  color: #919189;
  text-align: center; }

.p1::after {
  color: #db9a64;
  content: "Colorlib"; }

/* Google Map */
iframe {
  width: 100%; }

.m-contact-info-content {
  padding: 4.5rem 0 0 1rem; }

.m-contact-info-box {
  display: flex;
  align-items: center;
  justify-content: start; }

.m-contact-info-icone {
  font-size: 2rem; }

.m-contact-info {
  font-weight: normal;
  padding-left: 1.5rem; }

/* Formulaire */
.m-contact-form {
  display: flex;
  flex-direction: column;
  flex-basis: 2rem; }

.m-contact-form-msg textarea {
  height: 14rem;
  width: 100%; }

.m-contact-form-box {
  display: flex;
  justify-content: space-between; }

.m-contact-form-box input {
  margin: 10px 0px;
  width: 48%; }

.m-contact-form-subject input {
  margin: 10px 0px;
  width: 100%; }

input[type="submit"] {
  background-color: inherit;
  text-transform: uppercase;
  color: #db9a64;
  border: solid 0.2rem #db9a64;
  padding: 1rem 5rem; }
