/* Navigation */

#menuPrincipal ul {
  padding: 0;
  margin: 50px;
  list-style-type: none;
  text-align: center;
}

#menuPrincipal li,
#menuPrincipal a {
  display: inline-block;
}

#menuPrincipal a, a:link {
  color: #db9a64;
  padding: 10px;
  text-decoration: none;
}

#menuPrincipal a:hover {
  color: green;
  background-color: firebrick;
}

#menuPrincipal a:active {
  color: red;
  background-color: yellow;
}

#menuPrincipal .is-active a {
  color: gold;
  border-top: 0.1rem solid greenyellow;
}
