/* Talk */

.l-main-header-talk a{
  color: #db9a64;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  border: 2px #db9a64 solid;
  margin: 2.5rem 1rem;
  padding: 1rem 1rem;
}

.l-main-header-talk-box-link {

  padding: .8rem 1.5rem;
  margin: 1rem 0 0 1rem;
  display: inline-block;
}

.l-main-header-talk a:hover{
  background: linear-gradient(firebrick, blue);
}