/* Formulaire */

.m-contact-form {
  display: flex;
  flex-direction: column;
  flex-basis: 2rem;
}

.m-contact-form-msg textarea {
  height: 14rem;
  width: 100%;
}
.m-contact-form-box {
  display: flex;
  justify-content: space-between;
}

.m-contact-form-box input {
  margin: 10px 0px;
  width: 48%;
}

.m-contact-form-subject input {
  margin: 10px 0px;
  width: 100%;
}

input[type="submit"] {
  background-color: inherit;
  text-transform: uppercase;
  color: #db9a64;
  border: solid 0.2rem #db9a64;
  padding: 1rem 5rem;
}
