/* Balises génériques */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border: yellow 8px solid;
}

.wrap {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  border: blue 1px solid;
}
